.hero {
    background: url(https://images.unsplash.com/photo-1506719040632-7d586470c936?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2020&q=80) no-repeat center/cover;
    display: flex;
    width: 100%;
    height: 600px;
}

.heroForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    width: 100%;
    margin: auto;
    background-color: aliceblue;
    padding: 10px 20px;
    border-radius: 26px;
}

.heroForm label {
    font-size: 1.6rem;
    padding-bottom: 2px;
}

.heroForm input {
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
    padding: 5px 0;
    width: 100%;
}

.heroForm input:focus {
    outline: none;
}

.from,
.until {
    display: flex;
    flex-direction: column;
}

.until {
    border-left: 1px solid black;
    padding-left: 32px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f5f5f5;
    transition: transform 0.5s;
}

.icon:hover {
    transform: scale(1.5);
}

.btn {
    display: none;
}

@media screen and (max-width: 720px) {
    .heroForm {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin: auto 0.6rem;
    }

    .from,
    .until,
    .search_btn {
        width: 100%;
        padding: .2rem;
        border-left: none;
    }

    .icon {
        display: none;
    }

    .btn {
        display: block;
        width: 100%;
        background-color: lightskyblue;
        cursor: pointer;
        border: none;
        padding: 12px;
    }
}