.container {
    display: flex;
    background-color: purple;
}

.navigation {
    display: flex;
    width: 10%;
    background-color: lightseagreen;
    border-radius: 0 20px 20px 0;
}

.navigation ul {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.navigation .tile {
    display: flex;
    justify-content: left;
    padding-left: 16px;
    align-items: center;
    width: 100%;
}

.navigation .tile:hover {
    background-color: lightblue;
    border-radius: 0 20px 20px 0;
}

.navigation li {
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style: none;
    font-size: 22px;
    font-weight: bold;
}

.navigation .link {
    display: flex;
    color: white;
    width: 100%;
    padding: 20px;
    border-radius: 20px 20px 20px 20px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 90%;
    /* background-color: pink; */
}

.dashboard_card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 25% 20px 25%;
}

.dashboard_title {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.dashboard_card_img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    max-height: 360px;
}

.dashboard_row {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
}

.dashboard_row_text {
    width: 50%;
    display: flex;
    justify-content: left;
    padding-left: 5%;
    padding-right: 5%;
}

.btn {
    display: block;
    width: 100%;
    height: 42px;
    background-color: crimson;
    border: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 10px;
    margin-top: 16px;
}

.btns {
    display: block;
    width: 40%;
    height: 42px;
    background-color: crimson;
    border: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 16px;
}

.btn:hover,
.btns:hover {
    background-color: blue;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 16px;
}

.form_label {
    font-weight: 500;
    margin-bottom: 5px;
    display: blocks;
}

.form_row {
    margin-bottom: 15px;
    width: 100%;
}

.form_row>input {
    width: 100%;
    height: 45px;
    outline: none;
    border-radius: 7px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3 ease;
}

.form_row>input:focus,
.form_row>input:valid {
    border-color: #9b59b6
}

.form_row>select {
    background-color: transparent;
    border: none;
    width: 100%;
    font-family: inherit;
    height: 45px;
    cursor: inherit;
    line-height: inherit;
    border-radius: 7px;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 16px;
    border-bottom-width: 2px;
}

.form_row select:hover {
    cursor: pointer;
}

.form_row>input[type="file"] {
    padding-top: 10px;
}

.form_row>input[type="file"]:hover {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        background-color: purple;
    }

    .navigation {
        display: flex;
        width: 100%;
        background-color: lightseagreen;
        border-radius: 0 0 20px 20px;
    }

    .navigation ul {
        display: flex;
        width: 100%;
        flex-direction: row;
    }

    .navigation .tile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .navigation li {
        display: flex;
        flex-direction: row;
        width: 100%;
        list-style: none;
        font-size: 22px;
        font-weight: bold;
    }

    .navigation .link {
        display: flex;
        color: white;
        width: 100%;
        padding: 20px;
        border-radius: 20px 20px 20px 20px;
    }

    .navigation .tile:hover {
        background-color: lightblue;
        border-radius: 20px;
    }

    .content {
        display: flex;
        width: 100%;
    }

    .dashboard_row_text {
        width: 100%;
    }

    .btns {
        width: 100%;
        margin-top: 10px;
    }
}