.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.cardImg {
    max-width: 400px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rentCard {
    width: 22.9%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    transition: all 0.3s ease;
}

.rentCard:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.rentCard>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    padding-bottom: 10px;
}

.rentCard>p {
    font-size: 18px;
    padding: 5px 0;
}

.carProps {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0;
}

.rent_btn {
    width: 100%;
    height: 32px;
}

.rent_btn:hover {
    cursor: pointer;
}

.mark {
    font-size: 20px;
    font-weight: 600;
}

.heroForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    width: 100%;
    margin: auto;
    background-color: aliceblue;
    padding: 10px 20px;
    border-radius: 26px;
    margin-bottom: 32px;
}

.heroForm label {
    font-size: 1.6rem;
    padding-bottom: 2px;
}

.heroForm input {
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
    padding: 5px 0;
    width: 100%;
}

.heroForm input:focus {
    outline: none;
}

.from,
.until {
    display: flex;
    flex-direction: column;
}

/* .until {
    border-left: 1px solid black;
    padding-left: 32px;
} */

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* background-color: #f5f5f5; */
    transition: transform 0.5s;
}

.icon:hover {
    transform: scale(1.5);
}

.btn {
    display: none;
}

.title_rent {
    font-size: 32px;
    font-weight: 600;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
}

.details_container {
    display: flex;
    flex-direction: column;
    background-color: rgb(115, 103, 128);
}

.details_card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 25% 20px 25%;
}


.details_title {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.reservation_details_row {
    width: 100%;
    display: flex;
}

.card_left,
.card_right {
    display: block;
}

.card_left {
    width: 50%;
    padding: 10px;
}

.card_right img {
    max-width: 100%;
    justify-content: right;
    padding-right: 20%;
}

.card_right {
    width: 50%;
    padding: 10px;
}

.reservation_label {
    padding-left: 10%;
    font-weight: 500;
}

.reservation_value {
    font-weight: 700;
    padding-left: 2%;
}

/* .reservation_input_box{
    align-items: right;
}

.reservation_input_box > input{
    height: 45px;
    width: 200px;
    outline: none;
} */

.formData {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

.reservation_data_row {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.reservation_data_row>input {
    width: 100%;
    height: 45px;
    outline: none;
    border-radius: 7px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3 ease;
}

.reservation_data_row>input:focus,
.reservation_data_row>input:valid {
    border-color: #9b59b6
}

.reservation_label {
    font-weight: 500;
    margin-bottom: 5px;
    display: blocks;
}

.reserve_btn {
    display: block;
    width: 100%;
    height: 42px;
    background-color: crimson;
    border: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 10px;
}

.reserve_btn:hover {
    background-color: blue;
    cursor: pointer;
    transition: all 0.3s ease;
}

@media screen and (max-width: 720px) {
    .heroForm {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin: auto 0.6rem;
    }

    .from,
    .until,
    .search_btn {
        width: 100%;
        padding: .2rem;
        border-left: none;
    }

    .icon {
        display: none;
    }

    .btn {
        display: block;
        width: 100%;
        background-color: lightskyblue;
        cursor: pointer;
        border: none;
        padding: 12px;
    }

    .reservation_data_row {
        width: 100%;
    }
}