.wrapper{
    display: flex;
    flex-wrap: wrap;
}

.cardImg{
    max-width: 400px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rentCard{
    width: 22.9%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 20px;
    transition: all 0.3s ease;
}

.rentCard:hover{
    transform: translateY(-2px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.rentCard > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    padding-bottom: 10px;
}

.rentCard > p{
    font-size: 18px;
    padding: 5px 0;
}

.carProps{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0;
}

.rent_btn{
    width: 100%;
    height: 32px;
}

.rent_btn:hover{
    cursor: pointer;
}

.mark{
    font-size: 20px;
    font-weight: 600;
}