.mainPage{
    min-height: 90%;
}

.slider{
    padding: 6rem 0;
}

.card {
    margin: .5rem;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card:hover {
    cursor: grab;
}

.card > img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
    object-fit: cover;
}