.footer {
    width: 100%;
    height: 60px;
    background-color: #858585;
}

.container {
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 100%;
    justify-content: space-around;
}

.container>h1 {
    display: flex;
    align-items: center;
}

.socials>a {
    color: black;
    transition: transform 0.25s;
    display: inline-block;
}

.socials>a:hover {
    transform: scale(1.2);
}

.icon {
    display: inline-block;
    margin: 0 1rem;
    margin-top: 6px;
}