.reservations_container {
    display: flex;
    flex-direction: column;
    background-color: rgb(115, 103, 128);
}

.reservations_title {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.reservation_details_row{
    width: 100%;
    display: flex;
}

.reservation_label{
    margin-bottom: 5px;
    font-weight: 500;
}

.reservation_value{
    font-weight: 700;
    padding-left: 2%;
}

.reservations_card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 25% 20px 25%;
}

.reservations_card_title {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.card_left,
.card_right {
    display: block;
}

.card_left {
    width: 50%;
    padding: 10px;
}

.card_right img {
    max-width: 100%;
    justify-content: right;
    padding-right: 20%;
}

.card_right {
    width: 50%;
    padding: 10px;
}

.cancel_btn {
    display: block;
    width: 100%;
    height: 42px;
    background-color: crimson;
    border: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 10px;
}

.cancel_btn:hover {
    background-color: blue;
    cursor: pointer;
    transition: all 0.3s ease;
}