.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #858585;
}

.menu {
    display: flex;
    align-items: cneter;
}

.menu li {
    padding: 1rem;
}

.navbar a {
    font-size: 1.2rem;
}

.btn {
    display: none;
}

.logo {
    margin-top: 2px;
    height: 200%;
}

@media screen and (max-width: 720px) {
    .btn {
        display: block;
        position: absolute;
        right: 1rem;
        cursor: pointer;
        z-index: 100;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        left: -100%;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 120vh;
        transition: left 1s;
        z-index: 100;
    }

    .active {
        left: 0;
    }

    .navbar a {
        font-size: 2rem;
    }
}