.App {
  text-align: center;
}

nav{
  background-color: gray;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 5px;
}

nav ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.nav-login{
  display: flex;
  justify-content: flex;
  width: 20%;
  justify-content: space-evenly;
}

.nav-login span{
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-logo{
  padding-left: 36px;
  width: 50px;
}

.page-content{
  padding-top: 100px;
}